{% extends "base.html" %}
{% block title %}Search{% endblock %}
{% block content %}

{% if query %}
<div class="container">
<h2>Articles containing "{{ query }}"</h2>
<h3>
{% with results.count as total_results %}
Found {{ total_results }} result{{ total_results|pluralize }}
{% endwith %}
</h3>
{% for article in results %}
{{ article.title }}
{{ article.body }}

{% empty %}
<p>There are no articles matching your query.</p>
{% endfor %}

<p><a href='{% url "article_search" %}'>Search again</a></p>
</div>
{% else %}
<div class="container">
<h2>Search for articles</h2>

<form method="get">
{{ form.as_p }}
<input type="submit" class="btn btn-primary" value="Search">
</form>
</div>
{% endif %}

{% endblock %}