<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}Search{% endblock %}
</head>
<body>
{% block content %}

{% if query %}
<h1>Articles containing "{{ query }}"</h1>
<h3>
{% with results.count as total_results %}
Found {{ total_results }} result{{ total_results|pluralize }}
{% endwith %}
</h3>
{% for article in results %}
{{ article.title }}
{{ article.body }}

{% empty %}
<p>There are no articles matching your query.</p>
{% endfor %}

<p><a href='{% url "article_search" %}'>Search again</a></p>
{% else %}

<h1>Search for posts</h1>

<form method="get">
{{ form.as_p }}
<input type="submit" value="Search">
</form>
{% endif %}

{% endblock %}
</body>
</html>